<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>845541325512-4kb4ogilghrodn8h2r1r86mb6c176ki3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845541325512-4kb4ogilghrodn8h2r1r86mb6c176ki3</string>
	<key>API_KEY</key>
	<string>AIzaSyD6wt5qXnvIlVBLx_OEJn1ar5g2KXG8TIU</string>
	<key>GCM_SENDER_ID</key>
	<string>845541325512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hyzar.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hyzar-storage</string>
	<key>STORAGE_BUCKET</key>
	<string>hyzar-storage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845541325512:ios:cedec528b1cf1c3b7f83fd</string>
	<key>DATABASE_URL</key>
	<string>https://hyzar-storage-default-rtdb.firebaseio.com</string>
</dict>
</plist>